$full: 1900px;
$large: 1024px;
$tablette: 800px;
$mobile: 600px;
$oldMobile: 400px;

$white:#FFF;
$black:#222;

$bg-blue:#eaeef5;
$bg-rightCol:#dfe5ef;
$green:#3caf66;
$purple:#272571;
$blue:#378dcc;
$blue-light:#00abbd;
$gray:#8ca1c2;
$gray-light:#e6ebf3;

$red: red;
$radius: 0px;
