
/* Cookies */

#tarteaucitronRoot .tarteaucitronAllow, .tarteaucitronPrivacyUrl, .tarteaucitronDeny {
    background: #fff !important;
    color: #333 !important;
}

#tarteaucitronRoot .tarteaucitronCheck,   #tarteaucitronRoot .tarteaucitronCross {
    display:none;
}
#tarteaucitronRoot button#tarteaucitronPrivacyUrl{
    background: #fff;
    color: #333;
    font-size: 16px !important;
    margin-bottom: 3px;
    margin-left: 7px;
    padding: 5px 10px;
}

#tarteaucitronRoot button:hover{
    opacity:.8;
}

div#tarteaucitronAlertBig:before{
    display:none;
}